<body class="userlist-page">
<table class="table-container">
    <thead>
        <tr>
            <th>USER_ID</th>
            <th>USERNAME</th>
            <th>E-MAIL</th>
            <th>CREATION DATE</th>
            <th>IS ACTİVE</th>
            <th>EDIT DATA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users">
            <td>{{item.userId}}</td>
            <td>{{item.username | uppercase}}</td>
            <td>{{item.email}}</td>
            <td>{{item.creationDate | date }}</td>
            <td>{{item.isActive}}</td>
            <td>
                <app-button [buttonText] = "'Delete'" [id]= "item.userId" (onButtonClick)= "handleDeleteClick($event)" >
                </app-button>
                <i class="fa-sharp fa-solid fa-trash"></i>
                <app-button [buttonText]="'Edit'" [id]= "item.userId" (onButtonClick)="handleEditClick($event)">
                </app-button>
                <i class="fa-solid fa-pen-to-square" style="padding: 4px;"></i>
            </td>
        </tr>
    </tbody>
</table> <br>

<a routerLink="/useradd"><button>Add User<i class="fa-sharp fa-solid fa-user-plus fa-shake"></i></button></a>

<form class="editMode" *ngIf="editMode">
    <label for="username">Username</label>
    <input type="text" [(ngModel)]="username" name= "username" >
    <label for="email">Email</label>
    <input type="email" [(ngModel)]="email" name= "email" >
    <label for="creationDate">Creation Date</label>
    <input type="date" [(ngModel)]="creationDate" name= "creationDate" >
    <label for="isActive">User Activation State</label>
    <select [(ngModel)]="isActive" name="isActive">
        <option [value]="true"> Active </option>
        <option [value]="false">Passive</option>
    </select>
    <div>
        <button (click)="handleSaveClick()" type="button">Save</button>
        <button (click)="handleCancelClick()" type="button">Cancel</button>
    </div>
</form>

</body>