<div class="background">
<table class="table-container">
    <thead>
        <tr>
            <th>Comment ID</th>
            <th>Post ID</th>
            <th>User ID</th>
            <th>Comment</th>
            <th>Creation Date</th>
            <th>Is Confirmed</th>
            <th>EDIT DATA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pagedData">
            <td>{{item.commentId}}</td>
            <td>{{item.postId}}</td>
            <td>{{item.userId}}</td>
            <td>{{item.comment}}</td>
            <td>{{item.creationDate}}</td>
            <td>{{item.isConfirmed}}</td>
            <app-button [buttonText]="'Detail'" [id]= "item.commentId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <i class="fa-solid fa-pen-to-square" style="padding: 4px;"></i>
            <app-button [buttonText]="'Delete'" [id]= "item.commentId" (onButtonClick)="handleDeleteClick($event)" ></app-button>
            <i class="fa-sharp fa-solid fa-trash"></i>
        </tr>
    </tbody>
</table>

<div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
</div>

<button type="button" routerLink="/commentadd">Add Comment <i class="fa-solid fa-comment-dots fa-bounce"></i></button>


</div>
