.post-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  
.post-card .header {
    margin-bottom: 10px;
  }
  
  .post-card .header p {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .post-card .header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  .header p{
    color: aliceblue;
  }
  
  .post-card .content {
    margin-bottom: 10px;
  }
  .content p{
    background-color: #90caf9;
    padding: 5px;
    border-radius: 5px;
    padding: 17px;
    width: 40%;
    box-shadow: 3px 3px 3px orange;
  }
  
  .content h2{
    width: 40%;
    
  }
  .post-card .content h2 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    
  }
  
  .post-card .content p {
    font-size: 17px;
    color: #666;
    font-weight: bold;
  }
  
  .post-card .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post-card .footer div {
    flex-basis: 20%;
  }
  
  .post-card .footer h2 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .post-card .footer p {
    font-size: 16px;
    color: #666;
  }
  
  .post-card .footer h2, .post-card{
    color: #fff;
  }
  .post-card .footer p{
    color: #666;
  }
  .post-card .footer h2,
  .content h2 {
    background-color: #1565c0;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px blue;
  }
  
  .post-card .footer p {
    background-color: #90caf9;
    padding: 5px;
    border-radius: 5px;
    padding: 17px;
    font-weight: bold;
    box-shadow: 3px 3px 3px orange;
  }
 
.detail-button{
    box-shadow: 3px 3px 3px orange;
    background-color: blue;
    margin-top: 30px;
    text-shadow: 1px 1px 1px orchid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: bold;
    color: aquamarine;
}

