<div class="left-option">
    <span>Filter By</span>
  <select [(ngModel)]="filterType" (ngModelChange)="onFilterChange()">
    <option value="userId">User ID</option>
    <option value="postId">Post ID</option>
    <option value="categoryId">Category ID</option>
  </select>
</div>

<div class="right-option">
    <span>Filter Value:</span>
  <input type="text" [(ngModel)]="filterValue" (input)="onFilterChange()" placeholder="Enter a number" />
</div>


<table class="table-container">
    <thead>
        <tr>
            <th>PostId</th>
            <th>Title</th>
            <th>View Count</th>
            <th>Creation Date</th>
            <th>Post Publish Statement</th>
            <th>Data Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of pagedData">
            <td>{{item.postId}}</td>
            <td>{{item.title}}</td>
            <td>{{item.viewCount}}</td>
            <td>{{item.creationDate}}</td>
            <td>{{item.isPublished}}</td>
            <app-button [buttonText]="'Detail'" [id]= "item.postId" (onButtonClick)="handleDetailClick($event)"></app-button>
            <i class="fa-solid fa-pen-to-square" style="padding: 4px;"></i>

            <app-button [buttonText]="'Delete'" [id]= "item.postId" (onButtonClick)="handleDeleteClick($event)" ></app-button>
            <i class="fa-sharp fa-solid fa-trash"></i>
        </tr>
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination" *ngIf="totalPages > 0">
    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
    <span>{{ currentPage }}</span>
    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
</div>

<button [routerLink]="'/postadd'">Add Post <i class="fa-solid fa-blog fa-beat-fade"></i></button>
